<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="firstCon" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\myPython\python.exe|E:\myWebsite\mySite\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
